<!DOCTYPE html>
<html>
  <head>
    <title>AlertMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/header"%>
    <div class="container main-body">
      <%#= render partial: 'layouts/flash_notice' %>
      <%= yield %>
    </div>
  </body>
</html>
